{% extends "base.html" %}
{% block head %}
<style>
body {background-color: #E5E8E8;}
.b5 {background: #E5E8E8; padding: 5px; height: 32px; border-radius: 5px; box-sizing: border-box; border: 1px solid transparent;}
</style>
{% endblock %}
{% block body %}
<br>
<br>
<div style="text-align: center;">
      <div style="display: inline-block; width: 650px; height:auto; background-color:white; padding:10px;">
          <h1>{{title}}</h1>
          <canvas id="view-canvas" width="625" height="625"></canvas>
          <input class="b5" style="width: 75%; margin-top: 5px; margin-bottom: 5px;" type="text" name="comment" id="comment" placeholder="Write a comment...">
          <button id="submit" class="btn btn-primary" style="margin-left: 10px;">Submit</button>
          {% for comment in comments_demo %}
                <div style="width: 625px; height: auto; text-align: left; margin: 5px;">
                    <b>{{comment['username']}}:</b> {{comment['content']}}
                </div>
          {% endfor %}
      </div>
</div>
<br>
<br>
<script>
    const ppmResponse = `{{image}}`;
</script>
<script type="module" src='../static/js/view-art.js'></script>
{% endblock %}
