{% extends "base.html" %}
{% block head %}
<style>
body {background-color: #E5E8E8;}
.b5 {background: #E5E8E8; padding: 5px; height: 32px; border-radius: 5px; box-sizing: border-box; border: 1px solid transparent;}
</style>
{% endblock %}
{% block body %}
<br>
<br>
<div style="text-align: center;">
      <div style="display: inline-block; width: 650px; height:auto; background-color:white; padding:10px;">
          <h1>{{title}}</h1>
          <canvas id="view-canvas" width="625" height="625"></canvas>
          <div>
            <button type="button" class="btn btn-outline-primary" style="width: 627px; margin-bottom: 3px;">Like</button>
          </div>
          <input class="b5" style="width: 85%; margin-top: 3px; margin-bottom: 5px; height: 38px;" type="text" name="comment" id="comment" placeholder="Write a comment...">
          <button id="submit" class="btn btn-primary" style="margin-left: 10px; margin-bottom: 4px;">Submit</button>
          <div style="display: none;" class="alert alert-success" id="comment-alert" role="alert">Your comment has been shared.</div>
            <div id="comments-container">
                {% for comment in comments %}
                <div style="width: 625px; height: auto; text-align: left; margin: 5px;">
                    <b>{{comment['username']}}:</b> {{comment['content']}}
                </div>
                {% endfor %}
            </div>
      </div>
</div>
<br>
<br>
<script>
    const ppmResponse = `{{image}}`;
</script>
<script type="module" src='../static/js/view-art.js'></script>
{% endblock %}
